@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
/*General Style */

*{
box-sizing:border-box;
padding:0;
margin:0;
max-width:100%;
border:1px solid grey;
}
html{
font-size:62.5%;
font-family: 'Roboto Mono', monospace;
}


/*Nav Style */
.plan{
background:#FF764E;
color:white;
}
.learn{
background:#5ED3EB;
color:white;
}
.involved{
background:#FFCD69;
color:white;
}

/*Header Style*/
h1{
    font-family: 'Chelsea Market', cursive;
}
/* Intro Section Style*/
.intro{
    color:white;
}
/* Fire Section Style*/
/* Camp Section Style*/
/*Footer Style*/
