@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
/*General Style */

*{
box-sizing:border-box;
padding:0;
margin:0;
max-width:100%;
}
html{
font-size:62.5%;
}
body{
font-family: 'Roboto Mono', monospace;
font-size:2rem;
}
/*Nav Style */

nav{
    height:3%;
    margin:3%;
}
.plan{
background:#FF764E; 
color:white;
text-align:center;
border-radius: 25px;
  padding: 30px;
  width: 200px;
  height: 150px;
margin: 10% 10%;

}
.learn{
background:#5ED3EB;
color:white;
text-align:center;
border-radius: 25px;
  padding: 30px;
  width: 200px;
  height: 150px;
  margin: 10% 10%;
}
.involved{
background:#FFCD69;
color:white;
border-radius:25px;
padding: 30px;
width: 200px;
height: 150px;e;
text-align:center;
margin: 10% 5%;
}

/*Header Style*/
h1{
    font-family: 'Chelsea Market', cursive;
    font-size:8.5rem;
    display:inline-block;
    margin-top: 5%; 
    margin-left: 10%;
    width:100%;
   
}
.header{
    display:inline-block;
    width: 20%;
    height: 25%;
    border-radius: 50%;
    margin-left:10%;
    margin-top: 3%; 
    margin-bottom:5% ;
    float:left;
  }
h5{
    display:inline-block;
    font-size:3rem;
    width:95%;
    text-align: center;
    margin-top: 5%;
}
.top{
    margin-bottom: 6%;
   margin-left: 35%;
   margin-right:3%;
}
.head{
    margin-left: 20%;
    margin-right:20%;
}
/* Intro Section Style*/
.intro{
    color:white;
    background:#DDB9A3;
    text-align: center;
    margin-left:2%;
    margin-right: 2%;
    font-size:3.4rem;
   
}
.p1{
    padding:1%;
}
.p2{
    padding:1%;
}
/* Fire Section Style*/

.fires{
    text-align:center;
    margin-top: 2%;
    margin-bottom: 5%;
    margin-left: 40%;
    margin-right:40%;
    height:250px; 
     
}
.fire{
    display: inline-block;
    font-size: 1.4rem;
}
.campfires{
    max-width: auto ;
    max-height: 200px;
}

/* Camp Section Style*/
.RV{
    max-width: auto ;
    max-height: 200px;
}
.camp{
    text-align:center;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 40%;
    margin-right:40%;
    height:250px; 
    display: inline-block;
    font-size: 1.4rem;
}
/*Footer Style*/
.bottom{
    background-color:#F9E7DC;
    padding-top:1%;
    padding-bottom:2%;

}
.footer{
    
    background: url(https://github.com/svoncannon/web-module-project-intro-css/blob/master/assets/footer_img.jpg?raw=true) no-repeat;
    background-size: cover;
    height: 500px;
     }

 .plan1{
    background:#FF764E; 
    color:white;
    text-align:center;
    border-radius: 25px;
      padding: 30px;
      width: 200px;
      height: 150px;
      margin: 10% 10%;
    }
    .learn1{
    background:#5ED3EB;
    color:white;
    text-align:center;
    border-radius: 25px;
      padding: 30px;
      width: 200px;
      height: 150px;
      margin: 10% 10%;
    }
    .involved1{
    background:#FFCD69;
    color:white;
    border-radius:25px;
    padding: 30px;
    width: 200px;
    height: 150px;
    text-align:center;
    margin: 10% 5%;
